#Todos los archivos sencibles
.env

# Archivos los cuales son solo practica y no hemos hecho en serio solo es una practica como cuando era niño y me hacian pintar hacia lo que queria pues igual
.index.html
.style.css